<!-- ===================== LIBROS ===================== -->
{% extends "base.html" %}
{% block content %}

<h2>Agregar Libro</h2>

<form method="POST">
    <input type="text" name="nombre" placeholder="Nombre del libro" required>
    <br><br>

    <input type="number" name="cantidad" placeholder="Cantidad" required>
    <br><br>

    <input type="number" step="0.01" name="precio" placeholder="Precio" required>
    <br><br>

    <label>Autor:</label><br>
    <select name="id_autor" required>
        {% for a in autores %}
        <option value="{{a[0]}}">{{a[1]}}</option>
        {% endfor %}
    </select>

    <br><br>

    <button type="submit">Guardar</button>
</form>

<hr>

<!-- ===================== AUTORES ===================== -->

<h2>Agregar Autor</h2>

<form method="POST">
    <input type="text" name="nombre" placeholder="Nombre" required>
    <br><br>

    <input type="text" name="nacionalidad" placeholder="Nacionalidad" required>
    <br><br>

    <input type="text" name="genero" placeholder="Género" required>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<hr>

<!-- ===================== PRESTAMOS ===================== -->

<h2>Agregar Préstamo</h2>

<form method="POST">
    <input type="number" name="id_usuario" placeholder="ID Usuario" required>
    <br><br>

    <input type="date" name="fecha_prestamo" required>
    <br><br>

    <input type="date" name="fecha_devolucion" required>
    <br><br>

    <button type="submit">Guardar</button>
</form>

<hr>

<!-- ===================== DETALLE ===================== -->

<h2>Agregar Detalle</h2>

<form method="POST">
    <input type="number" name="id_libro" placeholder="ID Libro" required>
    <br><br>

    <input type="number" name="cantidad" placeholder="Cantidad" required>
    <br><br>

    <button type="submit">Guardar</button>
</form>

{% endblock %}